<div class="speed3">
    <h1>${"type": "text", "key": "headline1"}</h1>

    <h2>${"type": "text", "key": "headline2"}</h2>

    <h3>${"type": "text", "key": "headline3"}</h3>
    <h4>${"type": "text", "key": "headline4"}</h4>
    <h5>${"type": "text", "key": "headline5"}</h5>
    <h6>${"type": "text", "key": "headline6"}</h6>

    <p>${"type": "date", "key": "dateval"}${"type": "number", "key": "numberval"} ${"type": "partial", "key": "partialval"}</p>

    <p>${"type": "date", "key": "dateval"}${"type": "number", "key": "numberval"} ${"type": "partial", "key": "partialval"}</p>

    <p>${"type": "date", "key": "dateval"}${"type": "number", "key": "numberval"} ${"type": "partial", "key": "partialval"}</p>

    <p>${"type": "date", "key": "dateval"}${"type": "number", "key": "numberval"} ${"type": "partial", "key": "partialval"}</p>

    <p>${"type": "date", "key": "dateval"}${"type": "number", "key": "numberval"} ${"type": "partial", "key": "partialval"}</p>

    <p>${"type": "date", "key": "dateval"}${"type": "number", "key": "numberval"} ${"type": "partial", "key": "partialval"}</p>

    <p>${"type": "date", "key": "dateval"}${"type": "number", "key": "numberval"} ${"type": "partial", "key": "partialval"}</p>

    <p>${"type": "date", "key": "dateval"}${"type": "number", "key": "numberval"} ${"type": "partial", "key": "partialval"}</p>

    <p>${"type": "date", "key": "dateval"}${"type": "number", "key": "numberval"} ${"type": "partial", "key": "partialval"}</p>

    <p>${"type": "date", "key": "dateval"}${"type": "number", "key": "numberval"} ${"type": "partial", "key": "partialval"}</p>
</div>